
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 50px;
    background-color: #e68bdb;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


form {
    display: flex;
    flex-direction: column;
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: aquamarine;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #14c03f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1cd664;
}


.error {
    padding: 15px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-top: 20px;
}

.error h3 {
    margin-top: 0;
}

.error ul {
    list-style-type: none;
    padding-left: 0;
}

.error li {
    margin-bottom: 5px;
}
h1{
    text-align: center;
    color: crimson;
}